<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
  <link rel="icon" th:href="@{imagens\8756253.gif}" />


  <title>Início</title>
</head>

<body>

<div style="text-align: center;">
  <div class="card" style="display: inline-block; width: 200px; margin: 40px;">
    <div class="bg">
      <img src="/imagens/imagem1.jpeg" alt="Academia">
    </div>
    <div class="blob"></div>
  </div>

  <div class="card" style="display: inline-block; width: 200px; margin: 40px;">
    <div class="bg">
      <img src="imagens\barrailus.jpg" alt="Barrailus">
    </div>
    <div class="blob"></div>
  </div>

  <div class="card" style="display: inline-block; width: 200px; margin: 40px;">
    <div class="bg">
      <img src="imagens\ilustraçaomusc.avif" alt="Ilustraçãomusc">
    </div>
    <div class="blob"></div>
  </div>
</div>

<div class="desc_image">
  <p style="display: inline-block; width: 200px; text-align:justify; margin: 50px;"><b>Como faço esse treino?</b>
    Podemos responder essas perguntas!</p>
  <p style="display: inline-block; text-align:justify; width: 200px; margin: 40px;"><b>Dúvidas de como realizar o exercício corretamente?</b> Te
    explicaremos o passo a passo para realizar cada um.</p>
  <p style="display: inline-block; width: 200px; text-align:justify ;margin: 40px;"><b>Ilustrações dos músculos trabalhados!</b>
    Mostraremos o músculo que está sendo exercitado em cada exercício.</p>
</div>
<br /><br />



<div class="quemsomos">
  <h2 style="text-align: center;">
    Quem somos?
  </h2>
  <p style="width: 600px; text-align:justify; padding-left: 16px; padding-right: 0px;"> &nbsp Nossa academia é um
    espaço de
    bem-estar no coração da cidade, oferecendo equipamentos modernos, instrutores qualificados e uma variedade de
    aulas
    de grupo. Somos inclusivos, acolhendo todos os níveis de condicionamento físico, e promovemos um ambiente de apoio
    à
    saúde mental e nutricional. Com foco na transformação do corpo e da mente, nossa comunidade está comprometida em
    ajudar você a alcançar seus objetivos de fitness e viver uma vida mais saudável e ativa.
  </p>
</div>


</body>
<br /><br /><br /><br />
<footer>
</footer>

</html>