<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/exec.css}">
  <link rel="icon" th:href="@{imagens\8756253.gif}"/>

  <title>Supino Reto</title>

</head>

<body>
<br> <br> <br>

<div class="caixaexercicio">
  <img class="img_l" src="/imagens/musculos_trabalhadoSUPINO.png" alt="img_l">
  <img class="gif" src="/imagens/supino_retoGIF.gif" alt="GIF">
  <h3 style="font-weight: bold;display: inline-block;
        margin-top: 7px; padding: 0px; position:absolute">SUPINO RETO COM BARRA</h3>
  <h3 style="font-weight: bold;display: inline-block; margin-top: 7px;
        padding: 0px; left: 72%;position:absolute">MÚSCULOS TRABALHADOS:</h3>
  <div class="descricao_exercicios">
    <p>1. Deite no banco;</p>
    <p>2. Pegue a barra com distância maior do que a dos ombros;</p>
    <p>3. Levante o peso;</p>
    <p>4. Desça a barra e realize a flexão dos cotovelos para baixo;</p>
    <p>5. Empurre a barra para cima concentrando a força nos músculos do peito;</p>
    <p>6. Repita os movimentos.</p>
  </div>
</div>

<br/><br/><br/>
</body>
<footer>
</footer>
</body>

</html>